<h1>Dashboard Genetic Algorithm</h1>

<h2>Starting Solutions</h2>
<% @solutions.each_with_index do |solution, arrayIndex| %>
	<h3>Solution <%= arrayIndex+1 %> </h3>
	<p> Solution: 
		<% @solutions.each_with_index do |cityId, cityIndex| %>
			<%= solution[cityIndex][0] %>
		<% end %>
	</p>
	<p> Total Distance: <%= @solutionResults[arrayIndex] %></p>
	<p> Full Data Set: <%= solution %></p><br>
<br><br>
<% end %>
